@charset "utf-8";

/* default */
* {
	margin:0;
	padding:0;
	vertical-align:top;
	font-size: 12px;
	font-family:'돋움', dotum, Helvetica, sans-serif;
	line-height:1;
}
/* ie line-height set */
.ie6Only body, .ie7Only body, .ie8Only body {line-height: 1.2;}
.ie9Only body {line-height: 1.3;}

article,aside,canvas,details,figcaption,figure,header,footer,hgroup,menu,nav,section,summary {display:block;}
fieldset,img {border:0;}
dl,ul,ol,li {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none;}
table {
	table-layout: fixed;
	width: 100%;
	border-spacing:0;
	border-collapse:collapse;
	word-break: break-all;
}
caption {
	display: none;
}
input,select,textarea,button {
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle;
}
label {cursor:pointer;}

button, input { line-height:normal; }
button, select { text-transform:none; }
button {
	border: 0;
	line-height: 1;
}

.blind, legend, hr {
	display:block;
	overflow:hidden;
	position:absolute;
	top:0;
	left:-1000em;
}

a {
	color:#333;
	text-decoration:none;
}
a:active,a:hover {text-decoration:underline;}

address,caption,cite,code,dfn,em,var,i {
	font-style:normal;
	font-weight:normal;
}
textarea {
	resize:vertical;
	overflow:auto;
	vertical-align:top;
}
input[type="radio"], input[type="checkbox"] {
	border: 0px solid !important;;
	background: none !important;;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance:button; cursor: pointer; *overflow:visible; }


img, video {
	max-width:100%;
	border:0;
	vertical-align:top;
}
audio, canvas, video {
	display:inline-block;
	*display:inline;
	*zoom: 1;
}
iframe {
	overflow: hidden;
	margin: 0;
	border: none;
}


body.pcbang {
	min-width: 1550px;
	background: #90C9FE url(bg_body_pcbang.png) repeat-x center top;
}
.pcbang #wrap {
	width: 100%;
	background: url(bg_wrap_snow.jpg) no-repeat center 927px;
}

.pcbang #navi {
	z-index: 30;
	width: 100%;
	top: 0;
	left: 0;
	min-width: 1140px;
	height: 130px;
	background: url(bg_navi.png) repeat-x left top;
}
.pcbang .centerBox {
	position: relative;
	margin: 0 auto;
	width: 1140px;
}
.pcbang #logo {
	display: inline-block;
	margin: 20px 0 0 30px;
}
.pcbang #logo .logo {
	text-indent: -9999px;
	display: block;
	width: 150px;
	height: 65px;
	background: url(logo.png) repeat left top;
}

/*menu*/
.pcbang #menu {
	position: absolute;
	top: 0;
	left: 250px;

	/*margin-left: 70px;*/
	/*display: inline-block;*/
	width: 577px;
	height: 130px;
}
.pcbang #menu li {float: left;}
.pcbang #menu li a {
	text-indent: -9999px;
	display: block;
	/*display: inline-block;*/
	height: 130px;
	background: url(bg_menu.png) no-repeat left top;
}
.pcbang #menu ul:after {content: ""; display: block; clear: both;}
.pcbang #menu li.menu01 a {
	width: 289px;
	background-position: 0 0;
}
.pcbang #menu li.menu01.on a {background-position: 0 -130px;}
.pcbang #menu li.menu02 a {
	width: 288px;
	background-position: -289px 0;
}
.pcbang #menu li.menu02.on a {background-position: -289px -130px;}

.pcbang .sns {
	/*position: absolute;*/
	/*top: 51px;*/
	/*right: 10px;*/
	/*display: inline-block;*/
	/*margin-top: 51px;*/
	/*margin-left: 80px;*/
}
.pcbang .sns .btnFacebook, .sns .btnTwitter {
	position: absolute;
	top: 51px;
	display: block;
	margin-top: 4px;
	text-indent: -9999px;
	width: 26px;
	height: 26px;
}
.pcbang .sns .btnFacebook {
	right: 185px;
	background: url(btn_facebook.png) no-repeat left top;
}
.pcbang .sns .btnTwitter {
	right: 154px;
	background: url(btn_twitter.png) no-repeat left top;
}
.pcbang .sns .btnGoHome {
	top: 50px;
	right: 15px;
	position: absolute;
	/*display: inline-block;*/
	/*margin-left: 10px;*/
	width: 129px;
	height: 33px;
	text-indent: -9999px;
	background: url(btn_go_home.png) no-repeat left top;
}

/*header*/
.pcbang #header {
	width: 100%;
	height: 872px;
	background: url(bg_header.jpg) no-repeat center 124px;
}
.pcbang #header .header {
	position: relative;
	width: 100%;
	height: 872px;
	/*background: url(bg_header_inner.jpg) no-repeat center 132px;*/
	text-indent: -9999px;
}
.pcbang #header .txt {
	width: 1028px;
	margin: 0 auto;
	height: 737px;
	background: url(bg_header_txt.jpg) no-repeat right 228px;
	/*background: url(bg_header_txt.png) no-repeat center 203px;*/
}
.pcbang #header .btnPcFindBox {
	width: 1081px;
	margin: 0 auto;
}
.pcbang #header .btnPcFindBox .btnPcFind {
	display: block;
	width: 1081px;
	height: 68px;
	background: url(btn_pc_find.png) no-repeat left top;
}
/*
.pcbang .layoutBox {
	margin: 0 auto;
	width: 1140px;
	background: #fff;
	box-shadow: 0px 0px 15px #6bb6ff;
}
*/

.pcbang .layoutBox h2 {
	*z-index: 10;
	position: relative;
	width: 1156px;
	height: 65px;
	margin-left: -8px;
	/*box-shadow: 0px 2px 3px #6280d4;*/
}
.pcbang .layoutBox #event01_layout .centerBox {padding-top: 0px;}
.pcbang .layoutBox #event02_layout .centerBox {padding-top: 0px;}
.pcbang .layoutBox #event01_layout h2 {background: url(h2_event01.jpg) no-repeat left top;}
.pcbang .layoutBox #event01_layout h2 .title {
	display: block;
	text-indent: -9999px;
}
.pcbang .layoutBox #event02_layout h2 {
	text-indent: -9999px;
	background: url(h2_event02.jpg) no-repeat left top;
}

.pcbang .btnPointList {
	text-indent: -9999px;
	position: absolute;
	top: 17px;
	right: 77px;
	width: 181px;
	height: 31px;
	background: url(btn_point_list.png) no-repeat left top;
}

/*layerPop*/
.pcbang .layerPop {
	z-index: 10;
	position: absolute;
	top: 50px;
	right: -72px;
	min-width: 220px;
	border: 5px solid #e33831;
	background: #e33831;
	box-shadow: 4px 10px 20px #333;
} 
.pcbang .layerPop h3 {
	display: block;
	text-indent: -9999px;
	width: 300px;
	height: 48px;
	background: url(h_layer.png) no-repeat 15px 12px;
}
.pcbang .layerPop .cont {
	padding: 0 10px;
	background: #fff;
	overflow: auto;
	width: 300px;
	height: 200px;
}
.pcbang .layerPop .cont strong {color: #bd0000;}
.pcbang .layerPop .btnLayerClose {
	text-indent: -9999px;
	position: absolute;
	top: 14px;
	right: 12px;
	width: 15px;
	height: 15px;
	background: #e33831 url(btn_layer_close.gif) no-repeat left top;
}

.pcbang .layerPop table {
	overflow: hidden;
	text-indent: 0px;
	margin: 20px 0px;
}
.pcbang .layerPop table thead th {
	padding: 7px 0 4px 0;
	line-height: 1;
	color: #e33831;
	border:1px solid #fff;
	border-bottom:1px solid #ccd7e2;
	vertical-align: middle;
	background: #ccd7e2;
}
.pcbang .layerPop table tbody th,
.pcbang .layerPop table tbody td {
	padding: 6px 0 4px 0;
	color: #000;
	line-height:1.3;
	font-weight: normal;
	text-align: center;
	border:1px solid #fff;
	border-bottom:1px solid #ccd7e2;
	vertical-align:middle;
}


.pcbang .pointCheckBox {
	padding: relative;
	margin: 0 auto;
	width: 100%;
	height: 280px;
	background: url(bg_point_check_box.png) no-repeat center;
}

.pcbang .pointCheckBox {text-indent: -9999px;}
.pcbang .pointCheckBox span {display: block;}

.pcbang .pointCheckBox .btnPointCheck {
	position: absolute;
	text-indent: -9999px;
	top: 152px;
	right: 220px;
	width: 177px;
	height: 42px;
	background: url(btn_point_check.png) no-repeat left top;
}

.pcbang .pointCheckBox .inputBox {
	position: absolute;
	text-indent: 0px;
	top: 155px;
	left: 413px;
	vertical-align: top;
	background-color: transparent;
	font-size: 40px;
	font-weight: bold;
	width: 271px;
	color: #e33831;
	text-align: center;
	line-height: 1;
	font-family: Arial, "Malgun Gothic","Helvetica Neue", Helvetica, sans-serif;
}

.pcbang .goodsList li, .pcbang .goodsList button {text-indent: -9999px;}
.pcbang .goodsList {
	position: relative;
	top: -66px;
	left: -24px;
	height: 843px;
	background: url(bg_goods_list.png) no-repeat left top;
}
.pcbang .goodsList ul {
	position: absolute;
	top: 42px;
	left: 452px;
	*width: 675px;
}
.pcbang .goodsList ul li {
	float: left;
	margin: 0 21px 15px 0;
	position: relative;
	width: 204px;
	height: 229px;
}
.pcbang .goodsList .getOk {
	position: absolute;
	top: 0;
	left: 0;
	width: 206px;
	height: 231px;
	background: url(bg_get_ok1.png) no-repeat left top;
}
.pcbang .goodsList .btnGoodsGet {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 204px;
	height: 39px;
	background: url(btn_goods_get_event01.png) no-repeat left top;
}
/*pcbang .goodsList .char {
	position: absolute;
	top: -38px;
	left: -138px;
	width: 138px;
	height: 714px;
	background: url(bg_goods_char.png) no-repeat left top;
}*/



.pcbang .stepInfo {
	padding: 40px 0 30px 0;
	text-indent: -9999px;
	height: 236px;
	background: url(bg_step_info.jpg) no-repeat center 40px;
}
.pcbang .attend {
	position: relative;
	margin-bottom: 40px;
	height: 521px;
	background: url(bg_attend.jpg) no-repeat 30px top;
}
.pcbang .attend .tit {
	padding-top: 14px;
	text-align: center;
}
.pcbang .attend .tit h3, .pcbang .attend .tit span {
	display: inline-block;
	*display:inline;
	*zoom: 1;
}
.pcbang .attend .tit h3 {
	text-indent: -9999px;
	margin-top: 7px;
	width: 383px;
	height: 25px;
	background: url(bg_attend_tit.gif) no-repeat left top;
}
.pcbang .attend .tit .attendCount, .pcbang .attend .tit .login {
	margin-left: 10px;
	border: 4px solid #ffb6d4;
	background: #fff;
	
	vertical-align: top;
	font-size: 28px;
	font-weight: bold;
	color: #e33831;
	text-align: center;
	line-height: 1;
	font-family: Arial, "Malgun Gothic","Helvetica Neue", Helvetica, sans-serif;
}
.pcbang .attend .tit .attendCount {
	padding: 2px 20px 1px 20px;
}
.pcbang .attend .tit .attendDay {
	margin-left: 5px;
	text-indent: -9999px;
	margin-top: 7px;
	width: 19px;
	height: 25px;
	background: url(bg_attend_day.gif) no-repeat left top;
}
.pcbang .attend .tit .login {
	padding: 4px 20px 6px 20px;
	color: #a7a7a7;
	font-size: 20px;
}
.pcbang .attend ul {
	position: absolute;
	top: 85px;
	left: 57px;
}
.pcbang .attend ul li {
	position: relative;
	text-indent: -9999px;
	float: left;
	margin: 0 4px 4px 0;
	width: 143px;
	height: 202px;
}
.pcbang .attend .btnGoodsGet {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 143px;
	height: 39px;
	text-indent: -9999px;
	background: url(btn_goods_get_event02_1.png) no-repeat left top;
}
.pcbang .attend .end .btnGoodsGet {background: url(btn_goods_get_event02_2.png) no-repeat left top;}
.pcbang .attend .getOk {
	position: absolute;
	top: 0;
	left: 0;
	width: 143px;
	height: 202px;
	background: url(bg_get_ok2.png) no-repeat left top;
}
.pcbang .infoBox {
	text-indent: -9999px;
	height: 142px;
	background: #e33831 url(bg_info_box.gif) no-repeat 63px 19px;
}



/*footer*/
#footer {
	margin-top: 40px;
	clear: both;
	overflow: hidden;
	/*border-top: 1px solid #457ddb;*/
	background: #0f0f0f url(footer.png) no-repeat center 67px;
	height: 150px;
	text-indent: -9999px;
}